


a {
    display: block;
    padding-right: 50px;
    text-decoration: none !important;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 0px 0px 11px 1px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
    z-index: 88;
    margin-left: -1px;
    margin-top: 4em;
    background-color: goldenrod;
}

/*temporary until buttons are set wit bootstrap*/
.btn-A {
    margin-bottom: 2.2em;
}

.slide1 {
    background-color: white;
!important;
}


c2 {
    margin-top: 2em;
}

/*done code*/

@font-face {
    font-family: Whitman-Roman;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Whitman-Roman.woff2) format("woff2"), url(../fonts/Whitman-Roman.woff) format("woff")
}

@font-face {
    font-family: Whitman-Bold;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Whitman-Bold.woff2) format("woff2"), url(../fonts/Whitman-Bold.woff) format("woff")
}

@font-face {
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.woff) format("woff")
}

@font-face {
    font-family: Roboto-Bold;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.woff) format("woff")
}

@font-face {
    font-family: Roboto-Black;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto-Black.woff2) format("woff2"), url(../fonts/Roboto-Black.woff) format("woff")
}


body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 16px;
    font-size: .83333vw;
    line-height: 1.3;
    color: #000;

}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

* {
    outline: none !important
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
    margin: 0
}

li,
ul {
    list-style-type: none;
    padding: 0
}

p {
    margin: 0
}

a {
    text-decoration: none
}

.svg-sprive {
    width: 0;
    height: 0;
    overflow: hidden
}

.clear-fix {
    clear: both;
}

.fixed {
    position: fixed !important
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-direction__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-valign__center,
.flex-vertical-align__center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.flex-align__left,
.flex-horizontal-align__left {
    align-items: flex-start;
}

.flex-align__center,
.flex-horizontal-align__center {
    align-items: center;
}

.hidden {
    visibility: hidden
}

.scroll-dummy-overlay {
    position: absolute;
    width: 100%;
    height: 2000px;
    z-index: 9999;
    pointer-events: none;
}

.logo svg {
    display: block;
    width: 100%;
    height: 100%
}

.logo-main {
    width: 45px;
    height: 55px
}

.logo-main-white {
    fill: #fff
}

.logo-main-red {
    fill: #85261e
}

.logo-main-text {
    margin-left: 12px;
    width: 406px;
    height: 48px
}

.icon {
    position: relative;
}

.icon svg {
    display: block;
    width: 100%;
    height: 100%
}

.icon-arrow {
    width: 16px;
    height: 16px
}



.icon-arrow svg {
    stroke: white;
}

#icon-close-white path {
    fill: white;
}

#icon-close-gray path {
    fill: #63554F;
}

.icon-close {
    width: 16px;
    height: 16px;
}

.icon-screen-down {
    width: 21px;
    height: 32px
}

.icon-heart {
    width: 23px;
    height: 18px
}

.icon-heart-white {
    fill: #fff
}
.icon-heart,
.icon-heart svg {
    width: 23px;
    height: 18px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


.icon-heart svg:hover {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(145, 25, 25, 0.66));
    filter: drop-shadow( 3px 3px 2px rgba(145, 25, 25, 0.66));
    fill: rgb(119, 26, 22);
    /*text-shadow:0px 0px 30px #8c1d19;*/
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 33px;
    height: 28px;
    margin-left:-4px;
    margin-top: -4px;
    fill-opacity: .8;

    /*z-index:1*/
    /*opacity: 0.36;*/
}

.icon-heart-red {
    fill: #85261e
}

.button {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border: none;!important;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes glowing {
    0% {
        background-color: #8c1d19;
        box-shadow: 0 0 5px #8c1d19;
    }
    50% {
        background-color: rgb(115, 24, 21);
        box-shadow: 0 0 20px rgb(121, 24, 21);
    }
    100% {
        background-color: rgba(152, 76, 72, 0.99);
        box-shadow: 0 0 5px rgba(163, 115, 111, 0.86);
    }
}



.button-arrow-red:hover {
    cursor: pointer;
    border: 6px solid rgba(157, 66, 66, 0.67);
    font-weight: 800;
    background-color: #a45252;
    color: rgba(220, 20, 60, 0.27);
    margin: 0;
}


.button-arrow-red {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #85261e;
}
.scroll-button-wrapper{
    position: relative;
    top: 65%;
}

.button-arrow-red-section-1 {
    position: relative;
    animation: glowing 2000ms infinite;
    position: relative;
    transform: rotate(90deg);
}

.scroll-text{
    text-transform: uppercase;
    position:relative;
    left: 6.4em;
    bottom: 2em;
    color: white;
    font-family: Roboto-Black;
    font-size: 15px;
}

.button-arrow-yellow {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #C3A701
}

/*turn yellow arrow up*/
.arrow-up {
    transform: rotate(270deg);!important;
}

.button-arrow-yellow:hover {
    cursor: pointer;
    border: 6px solid rgba(211, 191, 191, 0.67);
    font-weight: 800;
    background-color: #e3c449;
    color: rgba(220, 173, 20, 0.27);
    margin: 0;
}


.button-arrow-green {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #87946B
}

.button-arrow-blue {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #3A6D88
}

.button-arrow-blue span {
    color: #3A6D88
}

.button-arrow-yellow span {
    color: #C3A701
}



.button-arrow-red-section-1:hover {
    cursor: pointer;
}

.button-arrow-red-section-1 span {
    position: relative;
    top: -1px;
    margin-left: 14px;
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 19px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    color: #85261e;
    vertical-align: middle;
}

.button-mobile-menu {
    position: relative;
    width: 30px;
    height: 21px
}

.button-mobile-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #85261e
}

.button-mobile-menu span:first-child {
    top: 0
}

.button-mobile-menu span:nth-child(2) {
    top: 9px
}

.button-mobile-menu span:nth-child(3) {
    bottom: 0
}

.button-mobile-menu-header-left {
    margin-top: 40px
}

.button-screen-down {
    width: 21px;
    height: 32px
}

.button-screen-down-header-left {
    margin-top: 39px
}

.button-heart {
    width: 23px;
    height: 18px
}

.button-heart-header-top {
    margin-left: 12px
}

.button-heart-header-left {
    margin-top: auto
}

.button-prev-slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.button-prev-slide span {
    margin-left: 25px;
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 19px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    color: #85261e
}

.button-next-slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.button-next-slide span {
    margin-right: 25px;
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 19px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    color: #85261e
}

.button-next-slide span {
    margin-right: 25px;
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 19px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    color: #85261e
}

.yellow-text {
    color: white !important;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    opacity: 0.0;
}

body.page-loaded .header-top {
    opacity: 1.0;
}

.header-top.completed {
    pointer-events: none !important;
}

.header-top__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 22px;
    padding-right: 16px;
    padding-left: 24px;
    width: 100%
}

.nav-main {
    position:absolute;
    margin-left: auto;
    right: 1em;

}

.nav-main__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1em;
    width: 41em;
}

.nav-main__item{
   /*width: 20%;*/
}
.nav-main__item:nth-child(n+2) {
    margin-left: -6%;
}

.nav-main__link {
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 20px;
    line-height: 1;
    color: #fff
}
.nav-main__link:hover{
    color:#ffffff;
}
.nav-main__item:hover{
    text-decoration: underline;
}

.nav-main__item:hover .nav-main__link {
    text-decoration: underline;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    opacity: 0.0;
    background-color: #fbfbfb
}

.header-left-nav {
    position: fixed;
    top: 0;
    left: -50%;
    width: calc(45% - 48px);
    height: 100%;
    padding: 49px;
    overflow-y: scroll;
    background-color: #f4f4f4;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 13px;
    line-height: 28px;
    z-index: 100;
    transition: left 0.33s;
}

.header-left-nav.toggle {
    left: 96px;
}

.header-left-nav span {
    font-family: Roboto-Black, Arial, sans-serif;
}

.header-left__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 22px;
    padding-bottom: 40px;
    width: 96px;
    height: 100%
}

/* includes by default:  fixed, flex, flex-direction__column */
section {
    width: 100%;
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
}

/*section:not(.section-1) {*/
/*    padding-left: 96px;*/
/*    visibility: hidden;*/
/*}*/

section.completed {
    /*visibility: visible;*/
    pointer-events: none
}

section.active {
    visibility: visible;
}

/*.section-17.completed {*/
/*    pointer-events: all;*/
/*}*/

/*.section-19.completed {*/
/*    pointer-events: all!important;*/
/*}*/
/*.section-20.completed {*/
/*    pointer-events: all;*/
/*}*/
/*.section-17.tab-content.completed{*/
/*    pointer-events: all;*/
/*}*/


section.inactive {
    visibility: visible;
}

.section-1 {
    z-index: 101;
    background-color: #262e17
}

.section-1__image-1__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;


    transition: all 5s;
}

body.page-loaded .section-1__image-1__wrapper {

}

.section-1__image-1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.53), rgba(255, 255, 255, 0)),
    url('https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/opening-covid-booklet.png');
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    transition: all 4s;
    /*transform: scale(1.025);*/

}

body.page-loaded .section-1__image-1 {
    filter: grayscale(0);
    transform: scale(1.0);
    opacity: 1.0;
}


.section-1__text-1 {
    font-size: 34px;
    line-height: 56px;
    position: relative;
    left: 100px;
    opacity: 0;
    transition: opacity 2s, left 2s;
    transition-delay: 2s;
}

body.page-loaded .section-1__text-1 {
    left: 0px;
    opacity: 1.0;
}

.section-1__text {
    position: relative;
    top: 63vh;
    left: 25%;
}

.section-1__text-1,
.section-1__text-2 {
    font-family: Whitman-Roman, Arial, sans-serif;
    color: #ffffff;
}

.section-1__text-2 {
    padding-left: 18%;
    font-size: 80px;
    line-height: 150px;
    position: relative;
    top: -40px;
  left: 150px;
  /*  margin-left: 153px;*/
    opacity: 0;
    transition: opacity 2s, left 2s;
    transition-delay: 2.25s;
}

body.page-loaded .section-1__text-2 {
    left: 0px;
    opacity: 1.0;
}

.section-2 {
    z-index: 100;
    background-color: #262e17
}

.section-2.toggle {
    margin-left: -100%;
}

.section-2__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/Granfather-and-Granddaughter-5-Lighter-scaled.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: all 4s;
}

.section-2__text {
    position: relative;
    top: 13vh;
    left: 18%;
}

.section-2__text-1,
.section-2__text-2 {
    font-family: Whitman-Roman, Arial, sans-serif;
    color: #4A413A;
}

.section-2__text-1 {
    font-size: 34px;
}

.section-2__text-2 {
    font-size: 80px;
    margin-top: -50px;
}


/*.section-2__text-2,*/
/*.section-2__text-3 {*/
/*    position: relative;*/
/*    left: 4%;*/
/*    font-family: Whitman-Roman, Arial, sans-serif;*/
/*    font-size: 80px;*/
/*    line-height: 72px;*/
/*}*/
.section-2__paragraph {
    position: relative;
    top: 20%;
    left: 46%;
    width: 850px;
    transform: translateY(-50%) translateX(-50%);
}

.section-2__text-3 {
    margin-top: 1.2%;
}

.section-2__text-3 {
    line-height: 1;
    color: #861f1f;
    transition: opacity 0.0667s, margin-left 0.0667s;
    font-weight: bold;
}

.section-2__text-4{
    left: 40%;
    margin-top: 6%;
}
.section-2__text-4,
.section-2__text-5 {
    font-family: Whitman-Roman, Arial, sans-serif;
    /*width: 420px;*/
    font-size: 23px;
    line-height: 30px;
    position: relative;
    color: #4A413A;
}



.button-next-slide-section-2 {
    position: absolute;
    right: 62px;
    bottom: 52px;
}

.button-next-slide-section-2:hover {
    cursor: pointer;
}


.button-next-slide-section-2 button {
    transition: transform 0.33s;
    transform: scale(1.0);
}

.button-ripple-2,
.button-ripple-5l,
.button-ripple-5r {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1.0;
    background: rgba(125, 125, 125, 0.5);
    transition: all 0.0s;
}

/*.button-next-slide-section-2.active:not(.completed) button {*/
/*    transform: scale(0.9);*/
/*}*/

/*.button-next-slide-section-2.active .button-ripple {
    top:-75%;left:-75%;width:250%;height:250%;opacity: 0.0;
}*/

.section-2a {
    z-index: 99;
    width: 100%;
    height: 100vh;
    margin-left: 100%;
    background-color: #f4f4f4;
    transition: margin-left 0.33s;
}

.section-2a__signature{
    position: absolute;
    top: 88%;
    left:18%;
}

.section-2a.toggle {
    margin-left: 0%;
}

.section-2a__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    /*margin-left: auto;*/
    /*padding-left: 96px;*/
    width: 1368px;
    height: 100%
}

.section-2a__foto-wrapper {
    width: 38%;
    height: 100%
}

.section-2a__foto-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.section-2a__text-wrapper {
    position: relative;
    margin-left: 8em;
    padding-left: 1em;
    width: 40%;
    height: 600px;
}

/*.section-2a__text-wrapper:after {*/
/*.section-2a__text-shadow-before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #f4f4f4)
}*/

.section-2a__text-shadow-after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #f4f4f4)
}

.section-2a__text {
    color: #707070;
    height: 100%;
    padding: 2em;
    overflow: scroll;
}

.section-2a__text p {
    font-family: Whitman;
    font-size: 15px;
    line-height: 1.6
}

.section-2a__text p:nth-child(n+2) {
    margin-top: 23px
}

.section-2a__text h3 {
    margin-top: 20px;
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 19px;
    text-transform: uppercase
}

.section-2a__quoter {
    margin-left: 70px;
    width: 144px;
    opacity: 1.0;
    transition: opacity 1s;
}

.section-2a__quoter .quote:not(.active) {
    display: none;
}

.section-2a__quoter p {
    font-family: Roboto-Bold, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #e98243
}

.section-2a__quoter span {
    display: block;
    margin-top: 20px;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #e98243
}

.button-prev-red-section-2a {
    position: absolute;
    bottom: 52px;
    left: 167px
}


.section-4 {
    display: block;
    z-index: 99;
    width: 100%;
    height: 100vh;
}

.section-4__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #574261;
    /*background-image: url(../images/section-4-background.jpg);*/
    background-position: 0 72.5%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.section-4__title-wrapper {
    position: relative;
    top: 29.6%;
    left: calc(50% + 128px);
    width: 850px;
    transform: translateX(-50%) translateY(-50%);
}

.section-4__title,
.section-4__pretitle {
    font-family: Whitman-Roman, Arial, sans-serif;
    line-height: 1;
    color: #fff
}

.section-4__pretitle {
    font-size: 34px;
    line-height: 41px;
}

.section-4__title {
    /*top: 222px;
    left: calc(50% - 222px);*/
    font-size: 75px;
    line-height: 80px;
}

.section-4__text {
    position: relative;
    top: 30%;
    left: calc(50% - 349px);
    width: 654px;
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: #fff
}

.section-5 {
    font-family: Whitman-Roman, Arial, sans-serif;
    display: block;
    z-index: 98;
    width: 100%;
    height: 100vh;
    background-color: #dfcebc;

}

.section-5__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #574261;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.section-5__title-wrapper {
    font-family: Whitman-Roman, Arial, sans-serif;
    position: absolute;
    top: 4em;
    left: calc(50% + 66px);
    width: 850px;
    transform: translateX(-50%) translateY(-50%);
}

.section-5__pretitle {
    font-size: 35px;

}


.section-5__subtitle{
    letter-spacing: -0.34px;
    font-size: 28px;
    z-index: 1;
    line-height: 1.5;
    position: relative;
    top: .3em;
    left: 6em;
    color: #fff;


    /*transition: all 1s;*/
}


.section-5__title,
.section-5__pretitle
 {
    font-family: Whitman-Roman, Arial, sans-serif;
    line-height: 1;
    color: #fff;
}

/*hidden*/

.section-5__title {
    font-size: 60px;
    margin-left: 80px;
}



.section-6 {
    display: block;
    z-index: 97;
    width: 100%;
    height: 100vh;
    background-color: #dfcebc;
}

.section-6__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #574261;
    /*background-image: url(../images/section-5-background.jpg);*/
    background-position: 0% 25%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.section-6__text-wrapper {
    position: relative;
    top: 30%;
    left: calc(50% + 66px);
    width: 850px;
    transform: translateX(-50%) translateY(-50%);
}

.section-6__pretitle,
.section-6__title {
    /*left: calc(50% - 435px);*/
    font-family: Whitman-Roman, Arial, sans-serif;
    line-height: 1;
    color: #fff
}

.section-6__title {
    /* top: 304px;
     left: calc(50% - 429px);*/
    width: 475px;
    font-size: 75px;
    line-height: 72px;
    padding-left: 2px;
    margin-top: 1.7vh;
}

.section-6__pretitle {
    font-size: 34px
}

.section-7 {
    z-index: 96;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

.section-7__background {

    width: 100%;
    height: 100%;
    background-color: #F4F4F4;

}

.section-7__text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19em;
    font-family: Roboto;
    font-size: 30px;
    line-height: 40px;
    /*font-weight: bold;*/
    color: #4A413A;

}

.section-7__signature {
    font-weight: 300;
    font-size: 18px;

    position: absolute;
    top: 700px;
    left: 47%;

}

.section-8 {
    z-index: 95;
    width: 100%;
    height: 100vh;
    margin-left: 0;
    transition: margin-left 0.33s;
    /*background-color: #ea8243*/
}


.section-8__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    background-color: #ef7930;
}

.section-8__text-wrapper {
    position: relative;
    top: 28.1vh;
    left: 22.3%;
}

.section-8__title {
    font-family: Whitman-Roman, Arial, sans-serif;
    line-height: 1;
    color: #ffffff;
    z-index: 95;
}

.section-8__title {
    /*top: 218px;
    left: calc(50% - 337px);*/

    font-size: 80px
}

.section-8__subtitle-wrapper {
    margin-top: 30px;
}

.section-8__subtitle {
    margin-top: 30px;
    color: #ffffff;
    /* top: 312px;
     left: calc(50% - 72px);*/
    display: inline-block;
    position: relative;
    line-height: 25px;
    letter-spacing: -0.17px;
    left: 12%;
    font-family: Roboto;!important;
    font-size:17px;
    font-weight: 400;
}

.section-8__icon {
    width: 149px;
    height: 70px;
    position: absolute;
    right: -38px;
    padding-right: 12px;
    /*Dirty*/
    bottom: 20%;
    background: #63554F;
    border-radius: 5px 0 0 5px;
    color: white;
    text-align: center;
    transition: right 0.33s;
}

.section-8__icon__asterisk {
    font-size: 57px;
    line-height: 67px;
    vertical-align: middle;
    position: relative;
    pointer-events: none;
    top: 10px;
}

.section-8__icon__read-poem {
    vertical-align: middle;
    font-size: 15px;
    line-height: 25px;
    margin-left: 6px;
    opacity: 0.0;
}

.section-8__icon:hover {
    right: 0px;
    cursor: pointer;
}

.section-8__icon:hover .section-8__icon__read-poem {
    opacity: 1.0;
}



.section-8a {
    z-index: 92;
    width: 100%;
    height: 100vh;
    margin-left: 100%;
    transition: margin-left 0.33s;
    background-color: #63554F;
}

.section-8a.toggle {
    margin-left: 0;
}

.section-8a__text {
    color: white;
    width: 629px;
    margin-top: 10%;
    margin-left: 20%;
    font-size: 27px;
    line-height: 37px;
}

.section-8a__text h3 {
    font-family: Whitman-Bold, Arial, sans-serif;
}

.section-8a__text p {
    font-family: Whitman-Roman, Arial, sans-serif;
}

.section-8a__text p i {
    font-style: italic;
}

.section-8a__close {
    position: absolute;
    right: 5%;
    bottom: 20%;
    color: white;
    font-size: 27px;
    line-height: 37px;
    font-family: Whitman-Bold, Arial, sans-serif;
}

.section-8a__close:hover {
    cursor: pointer;
}






/*vertical timeline 1*/

.timeline {
    resize: none;!important;
    position: fixed;
    right: 8%;
    z-index: 94;
    background-size: cover;
    pointer-events: all!important;
}


/*orange timeline*/

.timeline:before {
    content: '';
    background: #ef7930;
    display: inline-block;
    position: fixed;
    right: 3.7%;
    width: 3px;
    height: 140%;
    z-index: -1;
}
.timeline-wrapper{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*top of circle of timeline*/
#v-pill-1{
    margin-top: 2em;
}
/*bottom of circle of timeline*/
#s9-12{
    margin-bottom: 1em;
}
.nav-link.s9 {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 150px !important;
    margin:.75em 0 .5em 0;
    z-index: 100 !important;
    border: none !important;
    background-color: #f2c8b1;
    padding: 0!important;

}
.nav-link.s9:hover {
    transform: scale(1.3);
    background-color: rgb(236, 150, 105) !important;
}

.nav-link.s9 h1 {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    color: white;!important;
}

.timeline-1 {
    z-index: 93;
    width: 100%;
    height: 100vh;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-color: grey;
}
.section-9 {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 94;
    opacity: 1;

}
.all-tabs{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
}
.section-9__background {
    left: 29%;
    position: relative;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-9__text-wrapper {
    position: absolute;
    top: 0vh;
    left: 110%;
}


.section-9__pretitle {
    width: 200px;
    /*top: 174px;
    left: calc(50% - 144px);*/
    font-size: 34px;
    line-height: 41px;
}

.section-9__title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section-9__title {
    /*border: solid 2px;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Whitman-Roman, Arial, sans-serif;
    position: relative;
    color: #64544d;
    top: 44%;
    /*width: -webkit-fill-available;*/
    left: -61%;
    transform: rotate(270deg);
    padding-right: 49%;
    /*padding-bottom: 12em;*/
    font-size: 80px;
    line-height: 87px;
}

.section-9__subtitle {
    /*border: dotted 2px red;*/
    font-family: "Roboto Condensed";
    position: relative;
    color: #64544d;
    top: -2%;
    width: 70%;
    /*left: -26%;*/
    /*padding-left: 2%;*/
    /*margin-top: 2em;*/
    font-size: 13px;
    line-height: 25px;
}
 .date-span {
    font-weight: bold;
    color: #ef7930;
    font-size: 20px;
}

.section-9__span {
    font-weight: bold;
    color: #1c2d5a;
    font-size: 12px;
}

.section-10__pretitle {
    position: relative;
    top: -58%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-family: Roboto-Regular, Aalri, sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;

}

.section-10__title {

    position: relative;
    color: #ffffff;
    top: -71%;
    /*width: 51%;*/
    left: 12%;
    /*padding-left: 2%;*/
    font-size: 14px;
    line-height: 25px;
}

section-10__text {

}

.section-10 {
    z-index: 92;
    width: 100%;
    height: 100vh;
}

.backgroundImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section-10__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0)),
    url("../images/cars.jpg");


}

.section-11 {
    z-index: 91;
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    -webkit-background-size: cover;
    background-size: cover
}

.section-11__title {
    position: relative;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 22em;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.4em;
    font-family: Roboto;!important;
    color: #4A413A;
}
.s2{
    margin-top: 4em;
    margin-left: -.5em;
}
.section-11__text{
    position: relative;
    font-weight: 100;
    margin-top: -10%;
    left: 60%;
    font-size: 18px;
    font-family: "Roboto Light";!important;
    color: #63554F;
}

.section-12 {

    position: fixed;
    z-index: 90;
    width: 100%;
    height: 100vh;
    background: #266c87;
    -webkit-background-size: cover;
    background-size: cover
}

.section-12__background{

}
.section-12__text-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
}

.section-12__title {
    font-family: Whitman-Roman, Arial, sans-serif;
    position: relative;
    top: 22%;
    left: 17%;
    font-size: 80px;


}

.section-12__text {
    font-family: Roboto;
    position: relative;
    top: 24%;
    left: 28%;
    font-size: 17px;
    padding: 10px
}


.section-12a {
    /*z-index: 88;*/
    width: 50%;
    height: 100vh;
    margin-left: 100%;
    transition: margin-left 0.33s;
    background: #f4f4f4;
}

.section-12a.toggle { /*open...*/
    margin-left: 50%;
}

.section-12a__text {
    width: 438px;
    margin-left: 10%;
    margin-top: 155px;
}

.section-12a__text h3 {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1C2D5A;
}

.section-12a__text p {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #4A413A;
}

.section-12a__text p span {
    font-family: Roboto-Bold, Arial, sans-serif;
    color: #C3A701;
}

.section-12a__text p span {

}

.section-12a .button-back-section-12a {
    position: absolute;
    right: 10%;
    bottom: 20px;
}



.section-13 {
    z-index: 89;
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
}


.section-13__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.section-13__total-wrapper {
    font-family: Whitman-Roman, Arial, sans-serif;
    opacity: 1
}

.section-13__total {
    position: relative;
    top: 4vh;
    left: 56%;
    width: 1019px;
    font-size: 180px;
    line-height: 180px;
    transform: translateX(-50%);
    color: #85261E;

}

.section-13__bar {

    position: absolute;
    top: 29%;
    left: 14%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 75%;
    background-size: 75%;
    background-image: url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/09/NestedPieChartsCovid_ForDigital-01@2x.png");

}

/*.section-13__bar.completed {*/
/*    display: none !important;*/
/*    !*visibility: hidden;*!*/
/*}*/

/*.section-13__bar {*/
/*    text-align: right;*/
/*    font-size: 0;*/
/*    transition: opacity 0.33s;*/
/*}*/

/*.section-13__bar .section-13__bar-inner {*/
/*    display: inline-block;*/
/*    !*padding: 0 22.5px;*!*/
/*    font-size: 18px;*/
/*    line-height: 20px;*/
/*    color: #ffffff;*/
/*}*/

/*.section-13__bar .section-13__bar-inner .section-13__bar-title {*/
/*    font-family: "Courier 10 Pitch", courier, monospace;*/
/*    display: inline-block;*/
/*    font-size: 18px;*/
/*    line-height: 20px;*/
/*    vertical-align: middle;*/
/*}*/

/*.section-13__bar-title {*/
/*    margin-left: 1em;*/
/*    font-family: 'Amatic SC', cursive;;*/
/*}*/


/*.section-13__bar .section-13__bar-inner .section-13__bar-total {*/
/*    !*float: right;*!*/
/*    margin-left: 28px;*/
/*    font-size: 32px;*/
/*    line-height: 67px;*/
/*    vertical-align: middle;*/
/*    font-family: Roboto-Black, Arial, sans-serif;*/
/*}*/

/*.section-13__bar-total {*/
/*    color: black;*/
/*    margin-left: 1em;*/
/*}*/


.pieClass {
    transition: all 1s;
    width: 5em;
}

/*pie chart*/

.pieContainer {
    height: 900px;
    position: absolute;
    top: 0px;
    left: 100px;

}

.pieBackground {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;

}


.section-13__image,
.section-13__text-wrapper {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}

.section-13__image img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(-50%);
}

.section-13__image .section-13__imageshorttext {
    position: absolute;
    right: 35px;
    bottom: 23px;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.section-13__title {
    display: inline-block;
    position: relative;
    margin-top: 18%;
    left: 5%;
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 80px;
    line-height: 70px;
    color: #85261E;
}

.section-13__text {
    width: 370px;
    position: relative;
    margin-top: 12vh;
    left: 18.8%;
}

.section-13__text h3 {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1C2D5A;
}

.section-13__text p {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #4A413A;
}

.section-13 .button-next-slide-section-13 {
    position: absolute;
    right: 6%;
    bottom: 20px;
}

.section-13 .button-next-slide-section-13:hover {
    cursor: pointer;
}

.section-13 .button-next-slide-section-13 span {
    color: #C3A701;
}

.section-13a {
    /*z-index: 87;*/
    width: 50%;
    height: 100vh;
    margin-left: 100%;
    transition: margin-left 0.33s;
    background: #f4f4f4;
}

.section-13a.toggle { /*open...*/
    margin-left: 50%;
}

.section-13a__text {
    width: 438px;
    margin-left: 10%;
    margin-top: 155px;
}

.section-13a__text h3 {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1C2D5A;
}

.section-13a__text p {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #4A413A;
}

.section-13a__text p span {
    font-family: Roboto-Bold, Arial, sans-serif;
    color: #C3A701;
}

.section-13a__text p span {

}

.section-13a .button-back-section-13a {
    position: absolute;
    right: 10%;
    bottom: 20px;
}

.section-14 {
    z-index: 88;
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
}

.section-14__image,
.section-14__text-wrapper {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}

.section-14__image img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(-50%);
}

.section-14__image .section-14__imageshorttext {
    position: absolute;
    right: 35px;
    bottom: 23px;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.section-14__title {
    display: inline-block;
    position: relative;
    margin-top: 27%;
    left: 5%;
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 80px;
    line-height: 70px;
    color: #85261E;
}

.section-14__text {
    width: 370px;
    position: relative;
    margin-top: 12vh;
    left: 18.8%;
}

.section-14__text h3 {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1C2D5A;
}

.section-14__text p {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #4A413A;
}

.section-14 .button-next-slide-section-14 {
    position: absolute;
    right: 6%;
    bottom: 20px;
}

.section-14 .button-next-slide-section-14:hover {
    cursor: pointer;
}

.section-14 .button-next-slide-section-14 span {
    color: #C3A701;
}

.section-14a {
    z-index: 86;
    width: 50%;
    height: 100vh;
    margin-left: 100%;
    transition: margin-left 0.33s;
    background: #f4f4f4;
}

.section-14a.toggle { /*open...*/
    margin-left: 50%;
}

.section-14a__text-wrapper {
    position: relative;
    width: 438px;
    height: 61%;
    margin-left: 10%;
    margin-top: 155px;
}

.section-14a__text {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.section-14a__text-shadow-after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #f4f4f4)
}

.section-14a__text h3 {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1C2D5A;
}

.section-14a__text p {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #4A413A;
}

.section-14a__text p span {
    font-family: Roboto-Bold, Arial, sans-serif;
    color: #C3A701;
}

.section-14a__text p span {

}

.section-14a .button-back-section-14a {
    position: absolute;
    right: 10%;
    bottom: 20px;
}


.section-15 {
    z-index: 87;
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
}

.section-15__image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.section-15__background {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 58% 10%;
    background-image: url('https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/sa-murals-p1-scaled.jpeg');

}

.section-15__image,
.section-15__text-wrapper {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}

.section-15__image img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(-50%);
}

.section-15__image .section-15__imageshorttext {
    position: absolute;
    left: 35px;
    bottom: 23px;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.section-15__pretitle {
    position: relative;
    margin-top: 13%;
    left: 5%;
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 34px;
    line-height: 70px;
    color: #85261E;
}

.section-15__title {
    display: inline-block;
    position: relative;
    margin-top: 0%;
    left: 5%;
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 80px;
    line-height: 70px;
    color: #85261E;
}

.section-15__text {
    width: 370px;
    position: relative;
    margin-top: 1vh;
    left: 18.8%;
}

.section-15__text h3 {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1C2D5A;
}

.section-15__text p {
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #4A413A;
}

.section-15 .button-next-slide-section-15 {
    position: absolute;
    right: 6%;
    bottom: 20px;
}

.section-15 .button-next-slide-section-15:hover {
    cursor: pointer;
}

.section-15 .button-next-slide-section-15 span {
    color: #C3A701;
}
.muralBackground1{

}





.section-16 {
    z-index: 86;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;

}

.section-16__background {
    position: absolute;
    background-color: #fefefe;
    /*width: 100%;*/
    /*height: 100%;*/
    /*filter: brightness(.6);*/
    background-attachment: fixed;
    /*background-position: 90% -12em;*/
    background-image: url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/sa-murals-p1-scaled.jpeg");

}

.section-16__pretitle,
.section-16__title {
    position: relative;
    left: calc(50% - 17px);
    color: white
}

.section-16__pretitle {
    top: 168px;
    left: calc(50% - 22px);
    width: 522px;
    font-size: 15px;
    /*line-height: 36px;*/
}

.section-16__title {
    top: 182px;
    width: 555px;
    font-size: 18px;
    line-height: 72px
}

.section-17 {
    position: absolute;
    z-index: 85;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

.section-17__background {
    position: absolute;
    width: 100%;
    height: 100%;

}


/*vertical timeline 1*/



.section-17__text-wrapper {
    position: absolute;
    top: 65vh;
    left: 46%;
}

.section-17__text {
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 0, 0.63), 0 0 5px rgba(225, 217, 217, 0.38);

}



timeline-images {
    resize: none;!important;
    height: 100vh;
    width: 100%;
    background-size: cover;
    left: 2%;
    z-index: 90;
    pointer-events: all;
}

/*gray timeline*/
.timeline-images:before {
    content: '';
    background: #ffffff;
    display: inline-block;
    position: fixed;
    left: 2.9%;
    width: 2px;
    height: 140%;
    z-index: 99;
}

.tab-button-parent{
    height: 20em;
    width: 20em;
}

.img1 {
    background: url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/ymca-toddler.jpeg") no-repeat 39% 23%;
    background-size: 8em;
}

.img2 {
    background: url("../images/murals.jpg") no-repeat 57% 83%;
    background-size: 14em;
}

.img3 {
    background: url("../images/corazon.jpg") no-repeat 79% 0%;
    background-size: 14em;
}

.img4 {
    background: url("../images/grandfather-grandaugthers.jpg") no-repeat 62% 54%;
    background-size: 20em;
}

.img5 {
    background: url("../images/liftfund-foodtruck.jpg") no-repeat 51% 50%;
    background-size: 30em;
}


.img6 {
    background: url("../images/ymca-1.jpg") no-repeat 60% 56%;
    background-size: 18em;
}

.img7 {
    background: url("../images/section-7-background.jpg") no-repeat 63% 40%;
    background-size: 15em;
}

/*overall main tab properties*/
.tabs {
    z-index: 80;
    width: 100%;
    height: 100vh;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tabs-title{
    position: relative;
   font-family: Whitman, Roman;
    font-size: 77px;
    line-height: 76px;
    color: white;
    left: 6%;
    top: 63%;
    text-shadow: 0px 0px 10px #000000B2;
}
/*overall side tab properties*/
.tab-a {
    z-index: 92;
    width: 100%;
    height: 100vh;
    margin-left: 100%;
    transition: margin-left 0.33s;
    background-color: #ffffff;
}
.tab-a.toggle{
    margin-left: 0;
}
.tab-1a.toggle {
    margin-left: 0;
}
.tab-1 {
    z-index: 92;
    position: absolute;
    background-position: 50% 50% ;
    background-image:url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/ymca-early-learning.png") ;
    background-repeat: no-repeat;

}
/*read more left image*/
.timeline-section-1.t1 {
    background-image: url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/ymca-early-learning.png");
}

.tab-1a {
    position: relative;
    z-index: 92;
    width: 100%;
    height: 100vh;

    margin-left: 100%;

}
.tab-1a-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url('https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/ymca-early-learning.png') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.side-tab{
    color: black;
    top: 30%;
    right: 20%;
}

.side-tab-1{

}
.side-tab-wrapper{
    position: absolute;
    left: 50%;
    height: 100vh;
    background-color: white;
}
.tab-span-yellow {
    color: #c3a701;
}

.space{
    margin-bottom: 4em;
}
/***************************************************************************/
.tab-2 {
    background: url(../images/murals.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*read more left image*/
.timeline-section-1.t2 {
    background-image: url(../images/murals.jpg);
}

.tab-2-main{
    overflow: auto;
    height: 120vh;

    margin-left: 3em;
}
.tab-2-p{
    overflow: scroll;
    height: 95em;
}

.tab-2__text-shadow-after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 28%;
    height: 19em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, 0), #f4f4f4);
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #ffffff)
}

tab-2-p{
    font-size: 14px;!important;
    margin-right: 2em;!important;
    overflow: scroll;
}

/***************************************************************************/
.tab-3 {
    background: url(../images/corazon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*read more left image*/
.timeline-section-1.t3 {
    background-image: url(../images/corazon.jpg);
}
.container-3 {
    margin-top: 10%;
    margin-left: 5%;
}
.timeline-section-1a-amount-container.amount-3 {
    margin-top: 10%;

}
.timeline-section-1a-quote.quote-3 {
    position: initial;!important;
}
.timeline-section-1a-quote-author.author-3{
    font-size: 10px;

}

/***************************************************************************/
.tab-4 {
    background: url(../images/grandfather-grandaugthers.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*read more left image*/
.timeline-section-1.t4 {
    background-image: url(../images/grandfather-grandaugthers.jpg);
}

/***************************************************************************/
.tab-5 {
    background: url(../images/liftfund-foodtruck.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*read more left image*/
.timeline-section-1.t5 {
    background-image: url(../images/liftfund-foodtruck.jpg);
}

/***************************************************************************/
.tab-6 {
    background: url(../images/ymca-1.jpg) no-repeat center center fixed;
    background-size: cover;
}
/*read more left image*/
.timeline-section-1.t6 {
    background-image: url(../images/ymca-1.jpg);
}

/***************************************************************************/
.tab-7 {
    background: url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/uptogether-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*read more left image*/
.timeline-section-1.t7 {
    background-image: url("https://saaf-covid.mystagingwebsite.com/wp-content/uploads/2021/10/uptogether-background.png");
}


/*drew timeline*/
.timeline-section-1 {
    position: absolute;
    width: 50%;
    height: 100%;
    /*background-image: url(../images/section-17-ymca.jpg);*/
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.timeline-section-1-text {
    position: relative;
    top: 63vh;
    left: 40%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 70px/70px Whitman;
    text-align: left;
    font: normal normal normal 70px/70px Whitman;
    letter-spacing: -0.7px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #000000B2;
    opacity: 1;
}

.timeline-section-1-read-more {
    position: relative;
    top: 65vh;
    left: 85%;
    margin: auto;
}

.timeline-section-1-read-more span{
    position: relative;
    text-align: right;
    font: normal normal 900 15px/23px Roboto;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    text-transform: uppercase;
}


.timeline-section-1a {
    margin-left: 49%;
    background-color: white;
    background-repeat: no-repeat;
}

.timeline-section-1-text-container{
    height: 50%;
    /*flex-direction: column;*/
    /*flex-direction: row;*/
}

.timeline-section-1a-ymca-container{
    margin-top: 3em;
    padding: 2em;
    float: left;

}


.timeline-section-1a-YMCA-Early-Learning{
    flex-direction: row;
}

.timeline-section-1a-quote-container{
    height: 50%;
}
.timeline-section-1a-quote-container.tab1{
    margin-left: 8%;
}

.timeline-section-1a-title {
    position: relative;
    left: 8%;
    width: 350px;
    float: left;
    text-align: left;
    font: normal normal 900 17px/25px Roboto;
    letter-spacing: 0.22px;
    color: #1C2D5A;
    text-transform: uppercase;
}

.timeline-section-1a-paragraph-1{
    position: relative;
    /*height: 80em;*/
    left: 8%;
    width: 350px;
    text-align: left;
    font: normal normal normal 14px/25px Roboto;
    letter-spacing: -0.15px;
    color: #4A413A;


}
.timeline-section-1a-amount{
    /*position: relative;*/
    /*left: 50%;*/
    /*width: 200px;*/
    /*text-align: left;*/
    font: normal normal 900 18px/25px Roboto;
    letter-spacing: 0.18px;
    color: #87946B;
    text-transform: uppercase;
}


.timeline-section-1a-amount-container{
    position: relative;
    top: 5vh;
    /*right: 27%;*/
    /*!* padding-bottom: 50vh; *!*/
    /*float: right;*/
}

.timeline-section-1a-paragraph-part-1{
    /*position: relative;*/

    /*left: 49%;*/
    /*width: 180px;*/
    /*height: 20px;*/
    /*text-align: left;*/
    font: italic normal normal 14px/25px Roboto;
    letter-spacing: -0.15px;
    color: #4A413A;
}
.timeline-section-1a-paragraph-part-2{
    /*position: relative;*/
    /*float: right;*/


    /*width: 180px;*/
    /*height: 20px;*/
    /*text-align: left;*/
    font: italic normal normal 15px/25px Roboto;
    letter-spacing: -0.15px;
    color: #4A413A;
}
.timeline-section-1a-quote{
    position: relative;
    /*top: -7em;*/
    /*left: 6%;*/
    width: 150px;
    text-align: left;
    font: normal normal bold 18px/20px Roboto;
    letter-spacing: 0.18px;
    color: #E98243;
}
.timeline-section-1a-quote-author{
    position: relative;
    text-align: left;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0.18px;
    color: #E98243;
    font-weight: 100;
}
.timeline-section-1a-next-story {
    position: relative;
    top: 10vh;
    margin: auto;
}

.timeline-section-1a-next-story span{
    position: relative;
    text-align: right;
    font: normal normal 900 15px/23px Roboto;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    text-transform: uppercase;
}






/*map*/
.viewMap{
    position: absolute;
    margin-left: 2em;
    bottom: 10%;
}
.btnMap{
    background: none;
    border: none;
}
.mapAnchor{
    color: #E98243;
    font-size: 16px;
    text-decoration: underline;
}
.mapAnchor:hover{
    color: rgba(255, 112, 22, 0.77);
}
.modal-backdrop{
    z-index: 80!important;
}
.modal-title{
    text-transform:uppercase;
    color:#1c2d5a;
}
.modal-header{
    margin:1em 1em 0 1em!important;
    border: none!important;
}
.modal-content {
    min-height: 90vh;
    width: 100%;
    height: auto;

    border-radius: 1em!important;
}

.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff url('../images/covid_zip_code_map.png') no-repeat ;
    background-size: 95%;
    border-radius: 1em;

}



/*bootstrap overrides*/

.nav-link.s17 {
    position: relative;
    height: 5em !important;
    width: 5em !important;
    border-radius: 150px !important;
    margin: 1em 0em 2em 1.2em;
    z-index: 100 !important;
    border: none !important;
    filter: grayscale(100%);
}

.nav-link.s17:hover {
    transform: scale(1.3);
    filter: none;
}

.nav {
    margin-right: -6.5em !important;
}

.tab-pane {
    /*position: relative;*/
}


.section-18 {
    z-index: 82;
    width: 100%;
    height: 100vh;
    margin-left: 0;
    transition: margin-left 0.33s;
    /*background-color: #ea8243*/
}


.section-18__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #87946B;
    background-image: url('../images/covid_zip_code_map.png');
}

.section-18__text-wrapper {
    position: relative;
    top: 27.8vh;
    left: 29.1%;
}


.section-19 {
    z-index: 81;
    width: 100%;
    height: 100vh;
}

.section-19__background {
    position: absolute;

    background-color: #C3A701;

}

.section-19__text-wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
}
.section-19__pretitle,
.section-19__title,
.section-19__text {
    position: relative;
    line-height: 1;
    color: #fff;
}


.title {
    top: 85px;
    font-size: 67px;
    color: white;
    font-family: Whitman, Roman;
}

.section-19__title {
    left: calc(50% - 460px);

}

.section-19__text {
    left: calc(50% - 188px);


}

.section-19__pretitle {
    top: 7em;
    left: calc(50% - 445px);

    font-size: 14px;
    line-height: 2em;

}

.section-19__links-wrapper {
    position: relative;
    top: 24%;
    left: calc(50% - 445px);
    color: whitesmoke;
}
.section-19__links {
    margin-bottom: 3em;

}

.section-19__donors{
    line-height: 1em;
    overflow: scroll;
    font-size: 15px;

}
.canvas-title{
    line-height: 1.7em;
    font-size:20px;
    margin-left: .5em;
}
.canvas-h5 {
    line-height: 1.7em;
    font-size: 15px;
    margin-left: 1em;

}

.offcanvas-end {
    left: 62%;
}

.offcanvas {
    background-color: #554361 !important;
}

.offcanvas-body {

    color: white !important;
}

.offcanvas-header {
    display: flex;
    justify-content: end !important;
}

.btn-close {
    color: white !important;
}

.section-20 {
    z-index: 79;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    /*background-image: url(../images/section-20-background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover*/
}

.section-20__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
}

.section-20__pretitle {
    position: relative;
    top: 70px;
    left: 300px;
    font-family: Whitman-Roman, Arial, sans-serif;
    font-size: 34px;
    line-height: 41px;
    color: white;
}

.section-20__title {
    position: relative;
    top: 80px;
    left: 205px;
    font-family: Whitman, Roman;
    margin-bottom: 2em;
    font-size: 62px;
    line-height: 70px;
    color: #85261E;
}

.section-20__text {
    position: relative;
    margin-top: 17%;
    left: 45%;
    font-family: Whitman, Roman;
    font-size: 20px;
    line-height: 25px;
    color: #4A413A;
}

.section-20__text-wrapper{
    position: absolute;
    top: 6%;
    left: 13%;
}
.section-20__link a {
    font-weight: 900;
    width: 322px;
    position: relative;
    text-transform: uppercase;
    left: 93%;
    font-family: Roboto;
    font-size: 14px;
    color: #85261E;
    text-decoration: none;
}
.section-20__link a:hover {
    color: #cc2e26;

}

.section-20 .button-next-slide-section-20 {
    position: absolute;
    right: 10%;
    bottom: 20px;
}

.section-20 .button-next-slide-section-20:hover {
    cursor: pointer;
}


/*donate btton*/
.section-32__donate {
    position: relative;
    top: 3vh;
    left: 45%;
    width: 463px;
}

.section-32__donate button {
    text-transform: uppercase;
    border-radius: 11px;
    background-color: #85261E;
    font-size: 20px;
    padding: 10px;

    line-height: 15px;
    font-family: Roboto-Bold, Arial, sans-serif;
    color: white;
    border: none;!important;
}

.section-32__donate button .icon {
    display: inline-block;
}
.vl{
    border-left: 2px solid white;
    height: 1em;
    margin-right: 11px;
    margin-left: 11px;
}

.heart-button{
    top: 3px;
    left: 2px;

}

